.projects {
  display: grid;
  grid-template-columns: 16% 81%;
  gap: 1%;
  justify-content: center;
  .navigation,
  .projectContent {
    border-radius: 1em !important;
    background-color: var(--color3);
  }
  .navigation {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
    // border-right: 7px solid var(--color9);
    .projectHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background-color: unset;
        border: unset;
        color: white;
        transition: all ease-in-out 0.3s;
        &:hover {
          color: var(--color9);
        }
      }
    }
    ul {
      list-style: none;
      margin: 1em 0;
      li {
        line-height: 1.5em;
      }
    }
    .projectList {
      list-style: none;
      li:hover {
        cursor: pointer;
      }
    }
  }
  .projectContent {
    padding: 1em;
    grid-gap: 2em;
    justify-content: space-between;

    .tasks {
      overflow: auto;
      padding-bottom: 2%;
      &:has(.noProject) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:has(.noProject) {
          justify-content: center;
          align-items: center;
          height: 80vh;
          .projectInfo {
            display: flex;
            flex-direction: column;
            gap: 1em;
          }
        }
      }

      .projectHeader {
        .projectInfo {
          &:has(.noProject) {
            text-align: center;
          }
          .noProject {
            text-align: center;
          }
        }
        .projectActions {
          display: grid;
          grid-template-columns: 1fr 3em;
          align-items: center;
          justify-content: flex-end;
          .projectSettings {
            border: unset;
            background-color: unset;
            color: var(--color4);
            transition: 0.3s;
            width: fit-content;
            &:hover {
              color: var(--color9);
              transition: 0.3s;
            }
          }
        }
      }
      .taskHeader {
        background-color: var(--color9);
        color: var(--color4);
        padding: 0.9em 0.5em;
        display: flex;
        justify-content: space-between;
        background-color: var(--color9);
        display: flex;
        align-items: center;
        border-radius: 1em 1em 0 0;
        button {
          border: unset;
          background-color: unset;
          transition: 0.3s;
          color: var(--color4);
          &:hover {
            color: var(--color3);
            transition: 0.3s;
          }
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: .1em;
      padding: .2em 0;
    }
    .task {
      width: 75vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      min-height: 50vh;
      margin: 0 auto;
      margin-top: 2em;
    }
    .toDo {
      background-color: var(--color4);
      width: 100%;
      display: block;
      border: 2px solid var(--color5);
      border-radius: 1.1em;
    }
    .taskSingleRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 0.4em 0.7em;
      color: var(--color3);
      font-weight: 300;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
      margin: .2em 0.4em;
      .taskInfo{
        width: 80%;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        span{
          color: rgba($color: #000, $alpha: 0.4);
        }
      }
      p {
        font-size: 18px !important;
      }

      button {
        border: unset;
        transition: ease-in-out 0.3s;
        background-color: unset;
        background-color: unset;
        color: var(--color9);
        svg {
          background-color: unset;
        }
        &:hover {
          transition: ease-in-out 0.3s;
          opacity: 0.4;
        }
      }
    }
  }
}

.changeTask {
  // max-width: 80vw;
  width:auto;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
  label {
    font-weight: 700;
    font-size: 18px;
  }
  .changeLabel,
  .changeDescription {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .changeState {
    display: flex;
    gap: 1em;
  }
  .changeLabel {
    display: flex;
    flex-direction: column;
    gap: 1em;

  }
  .changeDescription {
    textarea {
      min-height: 10vh;
      width: 100%;
      resize: none;
    }
  }
  .addUser {
    display: flex;
    flex-direction: column;
    gap: .5em;
    select {
      max-width: 20vw;
    }
  }
  .comments {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .commentsLabel {
      display: flex;
      justify-content: space-between;
      padding-right: 2em;
      label {
        display: flex;
        align-items: center;
      }
      button {
        display: flex;
        align-items: center;
        border: unset;
        background-color: unset;
        color: var(--color4);
        transition: ease-in-out 0.3s;
        margin-left: 2em;
        &:hover {
          color: var(--color9);
          transition: ease-in-out 0.3s;
        }
      }
    }
    .commentsContainer {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
      background-color: var(--color9);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
      margin-bottom: 2em;
      .singleComment {
        background-color: var(--color3);
        border-radius: 10px;
        padding: 1em 1em;
        position: relative;
        .commentHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          div {
            display: flex;
            gap: 1em;
            align-items: center;
            margin-bottom: 1em;
            h4 {
              font-weight: 600;
              font-size: 16px;
            }
            span {
              font-size: 12px;
              color: rgba($color: #ffffff, $alpha: 0.4);
            }
          }
          .removeComment {
            border: unset;
            background-color: unset;
            color: var(--color4);
            transition: ease-in-out 0.3s;
            &:hover {
              color: var(--color9);
              transition: ease-in-out 0.3s;
            }
          }
        }
      }
      .commentBody {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 14px !important;
        }
      }
    }
  }
  .save{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .saveButton {
      background-color: var(--color9);
      color: white;
      padding: 0.3em 0.5em;
      border: unset;
      border-radius: 5px;
      display: flex;
      width: fit-content;
      justify-content: flex-end;
      align-items: center;
      height: fit-content;
     
      
      transition: ease-in-out 0.3s;
      &:hover {
        opacity: 0.7;
        transition: ease-in-out 0.3s;
      }
    }
  }
}
.addComment {
  .addCommentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    h4 {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .addCommentBody {
    position: relative;
    textarea{
      min-height: 10vh;
      width: 100%;
      resize: none;
    }
  }
  button {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
  .saveButton {
    background-color: var(--color9);
    color: white;
    padding: 0.3em 0.5em;
    border: unset;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    right: 1em;
    bottom: 1em;
    transition: ease-in-out 0.3s;
    &:hover {
      opacity: 0.7;
      transition: ease-in-out 0.3s;
    }
  }
}
.addProject {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2em;
    margin: 0 auto;
    background-color: var(--color9);
    padding: 2em;
    border-radius: 1em;
    margin-top: 1em;
    width: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }
  .input {
    width: 100%;
    font-size: 24px;
    color: var(--color4) !important;
  }
  .saveButton {
    background-color: var(--color9);
    color: white;
    padding: 0.3em 0.5em;
    border: unset;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    right: 1em;
    bottom: 1em;
    transition: ease-in-out 0.3s;
    &:hover {
      opacity: 0.7;
      transition: ease-in-out 0.3s;
    }
  }
}
.projectSettingsPopup {
  width: 90vw;
  background-color: unset;
  padding: 0 2em;
  max-height: 70vh;
  height: 70vh;
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    button {
      border: 2px solid var(--color3);
      background-color: var(--color9);
      color: var(--color4);
      padding: 1.5em 1em;
      border-radius: 10px;
      transition: all ease-in-out 0.3s;
      &:hover {
        // color: var(--color3);
        opacity: 0.5;
        transition: ease-in-out 0.3s;
      }
    }
  }
  .saveButton {
    background-color: var(--color9);
    color: white;
    padding: 0.3em 0.5em;
    border: unset;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    right: 1em;
    bottom: 1em;
    transition: ease-in-out 0.3s;
    &:hover {
      opacity: 0.7;
      transition: ease-in-out 0.3s;
    }
  }
  .members,
  .renameProject {
    height: 55vh;
  }
  .renameProject {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0 auto;
    background-color: var(--color9);
    padding: 3em 2em;
    border-radius: 1em;
    margin-top: 5em;
    width: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 50%;
    h4 {
      font-size: 24px;
    }
  }
  .members {
    margin: 0 auto;
    h3 {
      text-align: center;
      margin: 2em 0;
      font-size: 24px;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
      gap: 1em;
      margin: 0 auto;
      max-height: 50vh;
      overflow-y: scroll;
      padding: 0.5em 1em;
      width: 80vw;

      //change scrollbar color
      &::-webkit-scrollbar {
        width: 10px;
        margin: 1em 0;
      }
      &::-webkit-scrollbar-track {
        background-color: var(--color3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color9);
      }
      .member {
        background-color: var(--color9);
        padding: 0.7em;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 18px;
          font-weight: 600;
        }
        button {
          border: unset;
          background-color: unset;
          color: white;
          transition: all ease-in-out 0.3s;
          .doneIcon {
          }
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .noOption {
    text-align: center;
    margin: 5em 0;
    p {
      font-size: 34px !important;
    }
  }
  .delete {
    h3 {
      text-align: center;
      margin: 2em 0;
      font-size: 24px;
    }
    .deleteContent {
      display: grid;
      grid-template-columns: 30% 30%;
      justify-content: space-evenly;
      align-items: center;
      gap: 1em;
      margin: 0 auto;
      background-color: var(--color9);
      padding: 3em 2em;
      border-radius: 1em;
      margin-top: 5em;
      width: 50%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
      text-align: center;
      height: 30vh;
      button {
        border: 2px solid var(--color4);
        padding: 1em 2em;
        border-radius: 10px;
        background-color: var(--color3);
        color: white;
        transition: all ease-in-out 0.3s;
        height: 8vh;
        font-weight: 800;
        font-size: 18px;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
          border-color: #b21a1a;
          color: #ff0000;
        }
      }
      .deleteButton {
        &:hover {
          border-color: #369628;
          color: #4ae932;
        }
      }
    }
  }
}
