.footer {
  background-color: #252525;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  text-align: center;
  .content {
      display: flex;
      justify-content: center;
      margin-bottom: 2em;
 
      h3 {
      font-size: 24px;
      margin-bottom: .6em;
    }
    .creators {
      ul {
        list-style: none;
        line-height: 1.3em;
        li {
          font-size: 16px;
        }
      }
    }
  }
}
