.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
.userInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: absolute;
  top: .8em;
  right: 1em;
  h3{
    color: white;
    font-weight: 100;
    font-size: 14px;
  }
  button{
    border: unset;
    background-color: unset;
    color: white;
    font-weight: 100;
    font-size: 14px;
  }
}

